/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: "GeosansLight Medium";
  src: url(../fonts/GeosansLight.ttf);
}

$background-header: url("../src/img/banner.png");
$bg-color: #FFFFFF;
$color: #0c6c43;
$non-val: none;
$text: Geo Sans-Light;
$l-position: left;
$c-position:center;
$px-2: 2px;
$auto-val: auto;
$jumbo-font: 50px;
$small-font: 25px;

body {
  margin: 0;
  border: 0;
padding: 0;
  background-color: $bg-color;
  font-family: "GeosansLight Medium";

}



header{
  height: 216px;
  width: 100%;
  background: $background-header no-repeat;
}

  nav {
    margin: 0 9% 0 12%;
  }
    ul :first-child {
      border-width: $px-2 0 $px-2 $px-2;
    }
    ul :last-child {
      border-width: $px-2 $px-2 $px-2 0;
    }
      li {
        text-align: $c-position;
        display: block;
        list-style: $non-val;
        float: $l-position;
        width: 23%;
        padding: 19px 0 19px 0;
        border: solid $px-2 $color;
        border-width: $px-2 0 $px-2 0;
        font-size: 200%;
      }
  a{
    display:block;
    @extend .nav-link
  }


.nav-link {
  color: $color;
  text-decoration: $non-val;
}

a:link :visited{
  @extend .nav-link;
}
a:hover{
  @extend .nav-link;
  opacity: 0.6;
}
a:active{
  @extend .nav-link;
}


/*care of Jem*/

//color button
.btn-red{
  background-color: #ff3835;
}

//modified style
.container{
  width: 80%;
  align: center;
  margin:0 auto;
}

.submit-btn{
  border: 0px;
  border-radius: 2px;
  color: #ffffff;
  width: 200px;
  height: 50px;
  @extend .btn-red;
  font-size: 30px;
  padding: 10px 10px 45px 10px;
}

.jumbo-text{
  font-size: $jumbo-font;
}
.small-text{
  font-size: $small-font;
}


div {
  clear: both;
  section{
    @extend .container;

    h1,h2,h3{
      text-align: center;
    }
  }

  form{
    @extend .container;
    width: 500px;
    height: 500px;
    box-shadow: 2px 2px 10px 2px #888888;
    border-radius: 9px;
    padding: 20px 5px 5px 5px;
  }
  img{
    right: 10px;
  }
}

/*care of ken*/

.wrapper{
  margin: 0px auto;
  padding-left: 145px;
  width: 1200px;
  display: block;
  height: 340px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #b0f3fa;
}

#footer-container {
  background: #006B41;
  height: 340px;
}

.footer ul {
  list-style: none;
}

.footer-class li{
  border:solid 0px;
  width: initial;
  text-align: left;
  float: none;
  font-size: 22px;
  color: white;
  padding: 10px 0 15px 0;
  a.bold-footer {
    font-weight:bold;
  }
}


.footer-class {
  padding-top: 15px;
  width: 25%;
  float: left;
}
