/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: "GeosansLight Medium";
  src: url(../fonts/GeosansLight.ttf);
}

$background-header: url("../src/img/banner.png");
$color: #0c6c43;
$non-val: none;
$text: SansSerif;
$l-position: left;
$c-position:center;
$px-2: 2px;
$auto-val: auto;
$jumbo-font: 35px;
$small-font: 25px;
$font-size: 25px;

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "GeosansLight Medium";

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header{
  height: 216px;
  width: 100%;
  background-image: $background-header;
  background-size: 100% 100%;
}
.nav-link {
  color: $color;
  text-decoration: $non-val;
}


nav {
    ul{
      margin: 0 0 0 6%;
    }
    ul :first-child {
      border-width: $px-2 0 $px-2 $px-2;
    }
    ul :last-child {
      border-width: $px-2 $px-2 $px-2 0;
    }

    li {
      text-align: $c-position;
      display: block;
      list-style: $non-val;
      float: $l-position;
      width: 23%;
      padding: 19px 0 19px 0;
      border: solid $px-2 $color;
      border-width: $px-2 0 $px-2 0;
      font-size: 200%;
    }
    a {
      @extend .nav-link;
    }
    a:link :visited :active{
      @extend .nav-link;
    }
    a:hover{
      @extend .nav-link;
      opacity: 0.6;
    }
  }

.nav-link {
  color: $color;
  text-decoration: $non-val;
}

/*care of Jem*/

//color button
.btn-red{
  background-color: #ff3835;
}

//modified style
.container{
  width: 80%;
  align: center;
  margin:0 auto;
}

.submit-btn{
  @extend .btn-red;
  border: 0px;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 60px;
  float: right;
  margin: 50px;
}

.jumbo-text{
  font-size: $jumbo-font;
}
.small-text{
  font-size: $small-font;
}
$radius: 3px;
@mixin border{

  border: 0px;
  border-radius: $radius;
  background-color: #cedbca;
}

$margin: 15px;
.form-input{
  @include border;
  padding: 15px;
  margin: $margin;

  font-size: $font-size;
  width: 400px;
}

.form-date{
  @include border;
  padding: 10px;
  border-radius: $radius + 7;
  font-size: $font-size - 6;
  margin-left: 12px;
}
.parag{
  margin: 10px;
}

.name{
  display: inline-block;
  background-color: black;
}


@mixin box-shadow{
  width: 560px;
  height: 500px;
  box-shadow: 5px 2px 20px 5px #888888;
  border-radius: 9px;
  padding: 50px 0px 5px 50px;
}


.note{
  width: 100%;
  padding: 10px 0 10px 0;
}
div {
  clear: both;
  section{
    @extend .container;

    h1,h2,h3{
      text-align: center;
      @extend .note;
    }
    p{
      @extend .note;
      margin: 0 0 0 20%;
      color: #ff3835;
    }
    span{
      @extend .note;
      margin: 0 0 0 7%;
      text-align: center;
    }

    .box-div{@include box-shadow;}
  }

div{
  img{
    position: relative;
    left: 10px;
    top: -220px;
  }
  form{
    @extend .container;
    label{
      font-size: $font-size;
    }

    span{
      //font-size: 20px;
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      margin-right: 15px;
      margin-top: 50px;
      font-size: $font-size - 5;
      float:right;
    }

    span:before{
      content: "";
      display: inline-block;

      width: 25px;
      height: 25px;

      margin-right: 20px;
      position: absolute;
      left: 0;
      bottom: 1px;
      background-color: #cedbca;
      //box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);

    }
    input[type=checkbox] {
      display: none;
    }

    .checkbox span:before {
      border-radius: 3px;
    }

    input[type=checkbox]:checked + span:before {
      content: "\2713";
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
      font-size: 15px;
      color: #f3f3f3;
      text-align: center;
      line-height: 15px;
    }
  }
  img{
    right: 10px;
  }
}

/*care of ken*/

.wrapper{
  margin: 0px auto;
  padding-left: 145px;
  width: 1200px;
  display: block;
  height: 340px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #b0f3fa;
}

#footer-container {
  background: #006B41;
  height: 340px;
}

.footer ul {
  list-style: none;
}

.footer-class li{
  border:solid 0px;
  width: initial;
  text-align: left;
  float: none;
  font-size: 22px;
  color: white;
  padding: 10px 0 15px 0;
  a.bold-footer {
    font-weight:bold;
  }
}


.footer-class {
  padding-top: 15px;
  width: 25%;
  float: left;
}
