/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "GeosansLight Medium";
  src: url(../fonts/GeosansLight.ttf);
}
/* line 25, ../sass/screen.scss */
body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "GeosansLight Medium", Arial;
}

/* line 35, ../sass/screen.scss */
header {
  height: 216px;
  width: 100%;
  background-image: url("../src/img/banner.png");
  background-size: 100% 100%;
}

/* line 41, ../sass/screen.scss */
.nav-link, nav a, nav a:link :visited :active, nav a:hover {
  color: #0c6c43;
  text-decoration: none;
}

/* line 48, ../sass/screen.scss */
nav ul {
  margin: 0 0 0 6%;
}
/* line 51, ../sass/screen.scss */
nav ul :first-child {
  border-width: 2px 0 2px 2px;
}
/* line 54, ../sass/screen.scss */
nav ul :last-child {
  border-width: 2px 2px 2px 0;
}
/* line 58, ../sass/screen.scss */
nav li {
  text-align: center;
  display: block;
  list-style: none;
  float: left;
  width: 23%;
  padding: 19px 0 19px 0;
  border: solid 2px #0c6c43;
  border-width: 2px 0 2px 0;
  font-size: 200%;
}
/* line 75, ../sass/screen.scss */
nav a:hover {
  opacity: 0.6;
}

/* line 81, ../sass/screen.scss */
.nav-link, nav a, nav a:link :visited :active, nav a:hover {
  color: #0c6c43;
  text-decoration: none;
}

/*care of Jem*/
/* line 89, ../sass/screen.scss */
.btn-red, .submit-btn {
  background-color: #ff3835;
}

/* line 94, ../sass/screen.scss */
.container, div section, div form {
  width: 80%;
  align: center;
  margin: 0 auto;
}

/* line 100, ../sass/screen.scss */
.submit-btn {
  border: 0px;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 60px;
  float: right;
}

/* line 112, ../sass/screen.scss */
.jumbo-text {
  font-size: 35px;
}

/* line 115, ../sass/screen.scss */
.small-text {
  font-size: 25px;
}

/* line 126, ../sass/screen.scss */
.form-input {
  border: 0px;
  border-radius: 3px;
  background-color: #cedbca;
  padding: 15px;
  margin: 10px;
  font-size: 25px;
}

/* line 133, ../sass/screen.scss */
.form-date {
  border: 0px;
  border-radius: 3px;
  background-color: #cedbca;
  padding: 10px;
  border-radius: 10px;
}

/* line 139, ../sass/screen.scss */
.name {
  display: inline-block;
  background-color: black;
}

/* line 144, ../sass/screen.scss */
.note, div section h1, div section h2, div section h3, div section p, div section span {
  width: 100%;
  padding: 10px 0 10px 0;
}

/* line 148, ../sass/screen.scss */
div {
  clear: both;
}
/* line 153, ../sass/screen.scss */
div section h1, div section h2, div section h3 {
  text-align: center;
}
/* line 157, ../sass/screen.scss */
div section p {
  margin: 0 0 0 20%;
  color: #ff3835;
}
/* line 162, ../sass/screen.scss */
div section span {
  margin: 0 0 0 7%;
  text-align: center;
}
/* line 169, ../sass/screen.scss */
div div img {
  position: relative;
  left: 10px;
  top: -220px;
}
/* line 175, ../sass/screen.scss */
div form {
  width: 500px;
  height: 500px;
  box-shadow: 2px 2px 10px 2px #888888;
  border-radius: 9px;
  padding: 20px 5px 5px 5px;
}
/* line 185, ../sass/screen.scss */
div form label {
  font-size: 25px;
}
/* line 189, ../sass/screen.scss */
div form span {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 25px;
}
/* line 199, ../sass/screen.scss */
div form span:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #cedbca;
}
/* line 213, ../sass/screen.scss */
div form input[type=checkbox] {
  display: none;
}
/* line 217, ../sass/screen.scss */
div form .checkbox span:before {
  border-radius: 3px;
}
/* line 221, ../sass/screen.scss */
div form input[type=checkbox]:checked + span:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
}
/* line 230, ../sass/screen.scss */
div img {
  right: 10px;
}

/*care of ken*/
/* line 237, ../sass/screen.scss */
.wrapper {
  margin: 0px auto;
  padding-left: 145px;
  width: 1200px;
  display: block;
  height: 340px;
}

/* line 245, ../sass/screen.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 250, ../sass/screen.scss */
a:hover {
  color: #b0f3fa;
}

/* line 254, ../sass/screen.scss */
#footer-container {
  background: #006B41;
  height: 340px;
}

/* line 259, ../sass/screen.scss */
.footer ul {
  list-style: none;
}

/* line 263, ../sass/screen.scss */
.footer-class li {
  border: solid 0px;
  width: initial;
  text-align: left;
  float: none;
  font-size: 22px;
  color: white;
  padding: 10px 0 15px 0;
}
/* line 271, ../sass/screen.scss */
.footer-class li a.bold-footer {
  font-weight: bold;
}

/* line 277, ../sass/screen.scss */
.footer-class {
  padding-top: 15px;
  width: 25%;
  float: left;
}
