/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 18, ../sass/screen.scss */
body {
  background-color: #FFFFFF;
  font-family: Arial;
}

/* line 23, ../sass/screen.scss */
header {
  background-image: url("../src/img/banner.png");
  height: 216px;
}

/* line 29, ../sass/screen.scss */
div nav {
  margin: 0 9% 0 12%;
}
/* line 32, ../sass/screen.scss */
div ul :first-child {
  border-width: 2px 0 2px 2px;
}
/* line 35, ../sass/screen.scss */
div ul :last-child {
  border-width: 2px 2px 2px 0;
}
/* line 38, ../sass/screen.scss */
div li {
  text-align: center;
  display: inline;
  list-style: none;
  float: left;
  width: 23%;
  padding: 19px 0 19px 0;
  border: solid 2px #0c6c43;
  border-width: 2px 0 2px 0;
  font-size: 200%;
}

/* line 54, ../sass/screen.scss */
.nav-link, div a, a:link :visited, a:hover, a:active {
  color: #0c6c43;
  text-decoration: none;
}

/* line 62, ../sass/screen.scss */
a:hover {
  opacity: 0.6;
}

/* line 71, ../sass/screen.scss */
div section {
  clear: both;
}

/* line 76, ../sass/screen.scss */
footer {
  background-color: #0c6c43;
  color: #FFFFFF;
}
/* line 79, ../sass/screen.scss */
footer section {
  text-align: center;
  display: inline;
  float: left;
  width: 23%;
  height: auto;
  font-size: 150%;
}
/* line 87, ../sass/screen.scss */
footer li {
  list-style: none;
}
